.baseTransition-appear{
    opacity: 0;
}

.baseTransition-appear.baseTransition-appear-active{
    opacity: 1;
    transition: all .5s ease-in-out;
}

.root {
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.center {
    text-align: center;
}

.centercolumn {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px;
    grid-template-rows: repeat( auto-fit, 100px );

}

.votegrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.castvote {
    font-size: 16pt;
}

.small {
    font-size: 11pt;
}

p {
    margin-bottom: 10pt;
}